<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>패스오더</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/cart/cart.css" />
</head>

<body>
    <body>
        <div id="container">
            <header class="header-container">
                <div class="sns-container">
                  <button class="sns-button" disabled>
                      <i class="fa-brands fa-instagram"></i>
                      <i class="fa-brands fa-youtube"></i>
                      <i class="fa-brands fa-facebook"></i>
                  </button>
                </div>
                <div class="logo-container">
                    <h1 class="brand-logo"><a href="/index">PASSORDER</a></h1>
                </div>
                <ul class="menu-container">
                    <li><a href="">카페메뉴</a></li>
                    <li><a href="">마이페이지</a></li>
                    <li><a href="">장바구니</a></li>
                </ul>
              </header>
        
            
            <main class="main-container">
                <div class="sub-img-area">
                    <div class="main-title-container">
                        <span>My Cart Status, 장바구니</span>
                        <h1>고객님의 장바구니 현황입니다.</h1>
                    </div>
                </div>
    
    
                <div class="user-cart-container">
                    <div class="user-cart-box">
                        <div class="user-cart-box-title">
                            <h1>장바구니</h1>
                        </div>
                        <div class="user-cartlist-box">
                            <div id="user-cartlist-id" class="user-cartlist-title">
                                <div class="cart-carttitle title-cart">cart_id</div>
                                <div class="cart-carttitle title-cart">user_id</div>
                                <div class="cart-carttitle title-cart">cafe_id</div>
                                <div class="cart-carttitle title-cart">menu_id</div>
                                <div class="cart-carttitle title-cart">status</div>
                                <div class="cart-carttitle title-cart">shot</div>
                                <div class="cart-carttitle title-cart">whip</div>
                                <div class="cart-carttitle title-cart">total_price</div>
                            </div>
                            <div class="user-cartlist-title">
                                <div class="cart-carttitle cart-cart-id">2</div>
                                <div class="cart-carttitle cart-user-id">13</div>
                                <div class="cart-carttitle cart-cafe-id">26</div>
                                <div class="cart-carttitle cart-menu-id">21</div>
                                <div class="cart-carttitle cart-status">ice</div>
                                <div class="cart-carttitle cart-shot">0</div>
                                <div class="cart-carttitle cart-whip">1</div>
                                <div class="cart-carttitle cart-totalprice">6500</div>
                            </div>
                            <div class="user-cartlist-title">
                                <div class="cart-carttitle cart-cart-id">2</div>
                                <div class="cart-carttitle cart-user-id">13</div>
                                <div class="cart-carttitle cart-cafe-id">26</div>
                                <div class="cart-carttitle cart-menu-id">21</div>
                                <div class="cart-carttitle cart-status">ice</div>
                                <div class="cart-carttitle cart-shot">0</div>
                                <div class="cart-carttitle cart-whip">1</div>
                                <div class="cart-carttitle cart-totalprice">6500</div>
                            </div>
                        </div>
                        <div class="cart-button-group">
                            <button type="button" class="pay-button">결제하기</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</body>

</html>