@font-face {
    font-family: "SUIT-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: "SUIT-Regular";
  }
  
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 5px;
  }
  
  /* body {
    background-image: url(/images/main-image3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  } */
  
  #container {
    
    width: 100%;
  }
  
  input,
  select,
  textarea,
  table,
  th,
  td {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  
  input,
  textarea {
    outline: none;
  }
  
  input,
  select,
  textarea {
    padding: 5px;
    cursor: pointer;
  }
  
  button {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  button:not(:disabled):hover {
    background-color: #000000;
    color: #ffffff;
    border-color: black;
  }