.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sub-img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    
    background-image: url(/static/images/main-image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

.main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
}
  
.main-title-container span {
    color: #ffffff;
    font-size: 20px;

    padding-bottom: 10px;
}
  
.main-title-container h1 {
    margin-top: 10px;
  
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.mypage-admin {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    padding-bottom: 50px;
}

.admin-ui-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-top: 25px;
}

.admin-ui {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 600px;

    
}

.admin-button {
    padding-right: 50px;
}

.admin-button:nth-child(2) {
    padding-right: 0px;
}

.admin-button:nth-child(4) {
    padding-right: 0px;
}


.admin-ui a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 250px;
    background-color: #002f6c;

    font-weight: 600;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.admin-ui a:hover {
    background-color: white;
    border: 1px solid black;
    font-size: 32px;
    color: black;
}

.admin-dtl-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 600px;
}

.admin-dtl-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #ebebeb;
    background-color: white;
    width: 550px;
    height: 550px;
}

/* .admin-dtl-box input {
    border: none;
    background: transparent;
} */

.admin-title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
}

.admin-title h1 {
    font-weight: 600;
    font-size: 30px;
    color: #002f6c;
}

.admin-base-box {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;

    width: 100%;
    height: 350px;
    background-color: rgba(245, 245, 245, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.welcome-dtl {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    padding-top: 20px;
}

.welcome-dtl p {
    font-size: 20px;
    font-weight: 600;
    color: #002f6c;
}

.store-dtl-box {
    width: 500px;
    height: 250px;
    padding-top: 30px;
}

.store-dtl {
    display: flex;
    align-items: center;
    height: 70px;
}

.store-dtl p {
    font-size: 20px;
}

.store-subtitle {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    font-weight: 600;
    color: #002f6c;

    margin-left: 50px;
}



/* .admin-dtl input::placeholder {
    color:#002f6c;
    font-weight: 600;
    font-size: 20px;
} */


/* .store-dtl input::placeholder {
    color:#002f6c;
    font-weight: 600;
    font-size: 20px;
} */


.admin-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.logout-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;

    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #002f6c;
    border: 1px solid black;
}