<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menu/adminMenu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menu/adminMenuPopup.css">
    <title>패스오더</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
  </head>
<body>
  <div id="container">
    <header class="header-container">
      <div class="sns-container">
        <button class="sns-button" disabled>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook"></i>
        </button>
      </div>
      <div class="logo-container">
          <h1 class="brand-logo"><a href="javascript:void(0);" class="logo-button">PASSORDER</a></h1>
      </div>
      <ul class="menu-container">
          <li><a href="javascript:void(0);" class="menu-container-nav">카페메뉴</a></li>
          <li><a href="javascript:void(0);" class="menu-container-nav">마이페이지</a></li>
          <li><a href="javascript:void(0);" class="menu-container-nav">장바구니</a></li>
      </ul>
    </header>

    
    <main class="main-container">
      <div class="sub-img-area">
        <div class="main-title-container">
            <span>ALWAYS BESIDE YOU, PASSORDER MENU FOR ADMIN</span>
            <h1>한잔의 커피 그 이상의 감동을 경험하세요.</h1>
        </div>
      </div>

      <!-- main menu -->
      <div class="main-menu-container">
        <div id="quickmenu">
          <div class="quick-group">
            <input type="radio" id="all-menu-radio" name="menu-category" value="all">
            <label for="all-menu-radio" class="left-button">전체메뉴</label>
          </div>
        </div>  
        <div class="admin-right-area"> <!-- recommend-content -->
          <div class="admin-menu-title">
            <h1>매장 상품</h1>
          </div>
          <div class="main-menu-content">
            <div class="main-menu-drink-group">
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img">
                  <i class="fa-solid fa-circle-plus"></i>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <p hidden>1</p>
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
              <div class="main-menu-drink-box">
                <div class="main-menu-drink-img"><img src="/static/images/음료1.PNG" alt=""></div>
                <div class="main-menu-drink-name"><p>HOT 생딸기 블루밍 그린티</p></div>
                <div class="cart-button-group">
                  <button type="button" class="cart-button">수정</button>
                  <button type="button" class="cart-button">삭제</button>
                </div>
              </div>
            </div>
          </div>
          <div class="add-load-page">
            <button type="button" class="add-button">메뉴 더보기<i class="fa-solid fa-plus"></i></button>
          </div>
      </div>
  </div>



  <div class="popup-container"> 
    <div class="popup-wrap">
      <div class="popup">
        <div class="popup-head">
            <h1 class="head-title">메뉴 등록</h1>
        </div>
        <div class="popup-body">
          <div class="body-left-content">
            <div class="register-image-container">
              <img src="/static/images/no-image.jpg" alt="">
            </div>
            <div class="image-button-group">
              <button type="button" class="img-button delete">수정</button>
              <button type="button" class="img-button modify">삭제</button>
            </div>
          </div>
          <div class="body-right-content">
            <form action="" method="post">
                  <div class="menu-name-box">
                    <div class="option-label">
                      <label for="menu-category-box" class="option-label">카테고리</label>
                    </div>
                    <input type="text" id="menuName" class="menu-register-input menu-name-input" name="menuName" placeholder="등록할 메뉴이름을 입력해주세요" requried
                    >
                  </div>
                  <div class="menu-name-box">
                    <div class="option-label">
                      <label for="menuName" class="option-label">메뉴명</label>
                    </div>
                    <input type="text" id="menuName" class="menu-register-input menu-name-input" name="menuName" placeholder="등록할 메뉴이름을 입력해주세요" requried>
                  </div>
                  <div class="menu-price-box">
                    <div class="option-label">
                      <label for="menu-price" class="option-label">메뉴가격</label>
                    </div>
                    <input type="text" id="menuPrice" class="menu-register-input menu-price-input" name="menuPrice"     oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  placeholder="등록할 메뉴가격을 입력해주세요" requried>
                  </div>

                  <div class="menu-option-box">
                    <div class="option-label">
                      <label for="menuStatus">상태</label>
                    </div>
                    <div class="menu-button-input">
                      <div class="menu-button-area">
                        
                        <input type="radio" id="hot-radio" name="hotAndice" value="hot">
                        <label for="hot-radio" class="status-button hot-button">HOT</label>
                        <input type="radio" id="ice-radio" name="hotAndice" value="ice">
                        <label for="ice-radio" class="status-button ice-button">ICE</label>
                      </div>
                      <div class="menu-input-area">
                        <input type="text" id="menuStatus" class="menu-register-input menu-status-input" name="menuStatus"     oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" / placeholder="옵션의 가격을 입력해주세요 example) 500" requried>
                        <p>원</p>
                      </div>
                    </div>
                  </div>

                  <div class="menu-option-box">
                    <div class="option-label">
                      <label for="menuStatus">샷 추가</label>
                    </div>
                    <div class="menu-button-input">
                      <div class="menu-button-area">
                        <input type="radio" id="shot-none-radio" name="shotStatus" value=false>
                        <label for="shot-none-radio" class="shot-button shot-none-button">없음</label>
                        <input type="radio" id="shot-add-radio" name="shotStatus" value="true">
                        <label for="shot-add-radio" class="shot-button shot-add-button">추가</label>
                      </div>
                      <div class="menu-input-area">
                        <input type="text" id="menuStatus" class="menu-register-input menu-status-input" name="menuStatus"    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" / placeholder="옵션의 가격을 입력해주세요 example) 500"  requried>
                        <p>원</p>
                      </div>
                    </div>
                  </div>

                  <div class="menu-option-box">
                    <div class="option-label">
                      <label for="menuStatus">휘핑 추가</label>
                    </div>
                    <div class="menu-button-input">
                      <div class="menu-button-area">
                        <input type="radio" id="whip-none-radio" name="whipStatus" value=false>
                        <label for="whip-none-radio" class="whip-button whip-none-button">없음</label>
                        <input type="radio" id="whip-add-radio" name="whipStatus" value=true>
                        <label for="whip-add-radio" class="whip-button whip-add-button">추가</label>
                      </div>
                      <div class="menu-input-area">
                        <input type="text" id="menuStatus" class="menu-register-input menu-status-input" name="menuStatus"     oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" / placeholder="옵션의 가격을 입력해주세요 example) 500" requried>
                        <p>원</p>
                      </div>
                    </div>
                  </div>
                </div>
                
          </form>
          </div>
          <div class="button-group-footer">
            <button type="button" class="footer-button close-button">등록 취소</button>
            <button type="button" class="footer-button save-button">메뉴 저장</button>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
  <script src="/static/js/adminMenu.js"></script>
  <script type="text/javascript"> 
    var popupContainer = document.querySelector(".popup-container"); 
    var circleTrigger = document.querySelector(".fa-circle-plus"); 
    var closeButton = document.querySelector(".close-button");

   //console.log(modal);

   function toggleModal() { 
      popupContainer.classList.toggle("show-popup-container"); 
    }

   function windowOnClick(event) { 
        if (event.target === popupContainer) { 
            toggleModal(); 
        } 
    }

    circleTrigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>
</body>
</html>