<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>패스오더</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/adminRegister.css" />
</head>

<body>
    <div id="container">
      <header class="header-container">
        <div class="sns-container">
            <button class="sns-button" disabled>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-facebook"></i>
            </button>
        </div>
        <div class="logo-container">
            <h1 class="brand-logo"><a href="">PASSORDER</a></h1>
        </div>
        <ul class="menu-container">
            <li><a href="">카페메뉴</a></li>
            <li><a href="">마이페이지</a></li>
            <li><a href="">장바구니</a></li>
        </ul>
    </header>
        
        <main class="main-container">
          <div class="sub-img-area">
            <div class="register-title-group">
                <h1 class="register-title">회 원 가 입</h1>
                <p class="register-sub-title">Join Us, PASSORDER</p>
                <p class="reigster-txt">PASSORDER 가입을 위한 약관 동의 및 본인 인증 단계 입니다.</p>
            </div>
          </div>

          <div class ="register-bigbox">
            <div class="register-selectbox">
              <button type="button" class="register-select-group">회 원</button>
              <button type="button" class="register-select-group">사업자</button>
            </div>
            
            <div class="register-containerbox">
              <div class="register-container">
                <h1 class="register-title">회원 정보 입력</h1>
                <!--회원가입 정보 입력-->
                <div class="register-content">
  
                  <div class="register-group">
                    <label for="register-id">아이디(이메일)</label>
                    <div class="input-group">
                      <!-- before register에서 이메일중복체크 한거 바로 따오니까 input 필요없음(disabled). -->
                         <input type="text" id="register-id" class="register-inputs" disabled/>
                      
                      <div class="register-error"></div>
                    </div>
                  </div>
      
                  <div class="register-group">
                    <label for="register-name">성명</label>
                    <div class="input-group">
                      <input type="text" id="register-name" class="register-inputs" />
                      <div class="register-error"></div>
                    </div>
                  </div>
      
                  <div class="register-group">
                    <label for="register-password">비밀번호</label>
                    <div class="input-group">
                      <input type="password" id="register-password" class="register-inputs" placeholder="비밀번호"/>
                      <div class="register-password-error">안전한 비밀번호를 위해 숫자, 문자를 조합하여 10~16자 이상으로 입력해 주세요.</div>
                    </div>
                  </div>
      
                  <div class="register-group">
                    <label for="register-repassword">비밀번호 확인</label>
                    <div class="input-group">
                      <input type="password" id="register-repassword" class="register-inputs"/>
                      <div class="register-error"></div>
                    </div>
                  </div>
      
                  <div class="register-group">
                    <label for="register-nickname">닉네임</label>
                    <div class="input-group">
                      <input type="text" id="register-nickname" class="register-inputs" placeholder="한글, 숫자 5자 이내로 입력하세요"/>
                      <div class="register-nickname-error">욕설 등 부적절한 단어는 제한을 받습니다.</div>
                    </div>
                  </div>
                  
                </div>
              </div>  
  
              <div class="register-container">
                <h1 class="register-title">매장 정보 입력</h1>
                
                <div class="register-content">
                       
                  <div class="register-group">
                    <label for="register-strorename">지점명</label>
                    <div class="input-group">
                      <input type="text" id="register-strorename" class="register-inputs" />
                      <div class="register-error"></div>
                    </div>
                  </div>
      
                  <div class="register-group">
                    <label for="register-address">주소</label>
                    <div class="input-group">
                      <input type="address" id="register-address" class="register-inputs" />
                      
                    </div>
                  </div>               
      
                  <div class="register-group">
                    <label for="register-tel">전화번호</label>
                    <div class="input-group">
                      <input type="tel" id="register-tel" class="register-inputs" />
                      
                    </div>
                  </div>
                  
                </div>
              </div>  
            </div>

            <button type="button" class="register-submit">가입하기</button>

          </div>
            
            


        </main>

    </div>
    <script src="/static/js/component/header.js"></script>
    <script src="/static/js/index.js"></script>     
</body>

</html>