.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    height: 100%;
    /* padding: 80px 0px;
    padding-top: 70px; */
}

.sub-img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(/static/images/register6-1.jpg);
    background-repeat: no-repeat;
    background-position:relative;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;

    margin-bottom: 50px;
}

.register-title-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.before-register{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #ebebeb;

    padding : 0 80px;

    /* 수정필요함  */
    width : 1100px;
    height: 500px;

    margin-bottom: 50px;
    
}

.before-register-content{
    display: flex;
    flex-direction: column;
    
    justify-content: center;

    border: 1px solid #ebebeb;
    
    width : 55%;
    height: 70%;

    background-color: white;
        
}

.before-register-title {
    
    text-align: center;

    padding: 10px 0px 15px 0px;
    
    font-size: 30px;
    
}

.before-register-subtitle{
    text-align: center;
    
    padding-bottom: 20px;
    font-size: 18px;


}

.register-check{

    display: flex;
    align-items: center;
    justify-content : space-between;

    padding: 0px 15px 30px 15px;
   
    width : 50%;
       
}



.register-submit{

    border: 1px solid black;
    border-radius: 3px;
    
    margin : 0px 190px;
    padding: 0px 20px;
   
    width: 120px;
    height: 40px;
    background-color: #002f6c;

    color: white;
    font-size: 18px;
    font-weight: 600;
}

.register-condition{
    
    width : 40%;
    height: 70%;
}



.condition-text{
    width : 100%;
    height:100%;
    font-size : 12px;
  
    resize:none; /*크기조절 자유-> 불가능*/

    border: 1px solid #ebebeb;
  
    overflow-y : auto;
}
